.textContainer {
   padding: 0 2rem;
}

.boothFeatureHeadings {
   padding: 1rem 0;
}

.boothInfoSectionContent {
   height: 50vh;
   width: 100%;
}

.boothInfoSectionContainer {
   min-height: 50vh;
}

.orderedList {
   li {
      margin-top: .3rem;
   }
}

.pushDown{
   height: 15%;
   padding-top: 4rem;
}