main {
   background-color: white;
   color: black;

   .now-serving {
      font-size: 4rem;
   }

   .now-serving-ticket-number {
      line-height: 1.2;
      font-size: 22rem;
   }

   .right-column {
      font-size: 2rem;
   }
}
