main>section:first-child {
    background-image: url(../img/macHipster.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;

    h2{
        margin-top: 0;
    }

}