footer {
  background-color: #242323;
}

.foot-container {
  height: 100%;
}

#foot-content-grid {
  width: 20rem;
  padding: 1rem;
  img {
    height: 1.5rem;
  }
  hr {
    border-color: #eef13e;
  }
  p {
    color: white;
    margin: 0;
  }
}

#priv-terms-container {
  p {
    font-size: 0.6rem;
  }
}
