footer {
  background-color: #242323;
  font-size: 12px;
  height: 12rem;
  position: absolute;
  bottom: -12rem;
  width: 100vw;
  max-width: 100%;
}

.foot-container {
  height: 100%;
}

#foot-content-grid {
  width: 30rem;
  padding: 1em;
  img {
    height: 1.5em;
  }
  hr {
    border-color: #eef13e;
  }
  p {
    color: white;
    margin: 0;
  }
}

#priv-terms-container {
  p {
    font-size: 0.8em;
  }
}

#copyright-row{
    margin-top: 0.5em;
    font-size: 0.6em;
}