footer{
    background-color: #242323;
}

p{
        color: white;
        margin: 0;
}

.foot-container{
    height: 100%;
}

#foot-content-grid{
    width: 20rem;
    padding: 1rem;
}

hr{
    border-color: #EEF13E;
}

#priv-terms-container{
    p{
        font-size: 0.6rem;
    }
}

img{
    height: 1.5rem;
}