.term-and-conditions,
.privacy-policy {
   h1,
   h2,
   h3,
   span {
      color: #eef13e;
   }

   span {
      font-weight: bold;
   }

   section {
      text-align: left;
      padding: 20px 20px;
   }

   main {
      padding: 10px 10px;
   }
}
